//colors
$theme-font: Poppins;
$theme-font-color: rgb(44, 129, 209);
$theme-background: rgb(167, 226, 236);
$button-background: #4C63AA;
$navbar-background:  #38497E;


// @import '../../styles/index.scss';
